<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dados do Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>CODIGO</th>
                <th>COD_EAN</th>
                <th>DESCRICAO</th>
                <th>Lis</th>
                <th>Cod_ClaTri</th>
                <th>Fabricante</th>
                <th>DANFE</th>
                <th>Dat_Ent</th>
                <th>ICMS</th>
                <th>C_FIXO</th>
                <th>C_VENDA</th>
                <th>I_FEDERAL</th>
                <th>INVEST</th>
                <th>P_C_RESC</th>
                <th>Markup</th>
                <th>TOTAL</th>
                <th>P_VENDA</th>
                <th>DESC</th>
                <th>L_LIQ</th>
                <th>Est_Dispo</th>

                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            {% for dado in dados %}
                <tr>
                    <td>{{ dado.CODIGO }}</td>
                    <td>{{ dado.COD_EAN }}</td>
                    <td>{{ dado.DESCRICAO }}</td>
                    <td>{{ dado.Lis }}</td>
                    <td>{{ dado.Cod_ClaTri }}</td>
                    <td>{{ dado.Fabricante }}</td>
                    <td>{{ dado.DANFE }}</td>
                    <td>{{ dado.Dat_Ent }}</td>
                    <td>{{ dado.ICMS }}</td>
                    <td>{{ dado.C_FIXO }}</td>
                    <td>{{ dado.C_VENDA }}</td>
                    <td>{{ dado.I_FEDERAL }}</td>
                    <td>{{ dado.INVEST }}</td>
                    <td>{{ dado.P_C_RESC }}</td>
                    <td>{{ dado.Markup }}</td>
                    <td>{{ dado.TOTAL }}</td>
                    <td>{{ dado.P_VENDA }}</td>
                    <td>{{ dado.DESC }}</td>
                    <td>{{ dado.L_LIQ }}</td>
                    <td>{{ dado.Est_Dispo }}</td>
                    <!-- Adicione mais colunas conforme necessário -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
